<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Line</h1>
    <a href ="{{ url_for('index') }}" role="button" class="btn btn-primary btn-lg active">Back to Home</a>

    <form method="POST">
        <div class="form-group">
          <label for="poNum">PO number</label>
          <input name="poNum" type="poNum" class="form-control" id="poNum" placeholder="Enter PO number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
    <table class = "table">
        <thead>
          <tr>
            <th scope="col">Line Number</th>
            <th scope="col">Part Number</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price ordered</th>
  
          </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
        <td>{{row.0}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
</div>

</body>
</html> 